<!DOCTYPE html>
<html>
<head>
    <title>Video Chat</title>
    <style>
        video {
            width: 45%;
            height: auto;
            border: 2px solid black;
            margin: 10px;
        }
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .video-container {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="authSection">
        <h2>Login or Register</h2>
        <input type="text" id="usernameInput" placeholder="Username" />
        <input type="password" id="passwordInput" placeholder="Password" />
        <br />
        <button onclick="register()">Register</button>
        <button onclick="login()">Login</button>
        ~<button onclick="logout()">Logout</button>
        <p id="authMsg"></p>
    </div>

    
    <div id = "mainApp" style ="display: none;">
        <h1>Video Chat Application</h1>
        <h2>Welcome, <span id ="roomUsername"></span></h2>

        <div id = 'joinForm'>
            <input type = 'text' id="roomInput" placeholder="Enter room name">
            <button onclick="joinRoom()">Join Room</button>
        </div>

        <div id = "videoSection" style="display: none;">
            <h3>Room: <span id="roomName"></span></h3>
            <div>
                <button id ="muteBtn" onclick = "toggleMute()">Mute</button>
                <button id = "videoBtn" onclick = "toggleVideo()">Turn camera off</button>
                <button id = "hangUpBtn" onclick = "hangUp()">Hang up</button>
            </div>
            <div class="video-container">
                <video id="localVideo" autoplay muted playsinline></video>
                <video id="remoteVideo" autoplay playsinline></video>
            </div>
        </div>

        <div id="chatBox">
            <h3>Chat</h3>
            <div id="messages" style="height: 200px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;"></div>
            <input id="chatInput" type="text" placeholder="Type a message..." />
            <button onclick="sendChat()">Send</button>
        </div>
    </div>
    

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src ="../static/js/script.js"></script>
</body>
</html>