<!DOCTYPE html>
<html>
<head>
    <title>Video Conference</title>
    <link href="static/css/style.css" rel ="stylesheet">
</head>
<body>
    <body>
        <div class="container">
            <div class="header">
                <h1>Video Conference</h1>
            </div>
            
            <div class="room-controls">
                <input type="text" id="room" placeholder="Enter Room ID">
                <button id="joinButton">Join Room</button>
            </div>
            
            <div class="video-container">
                <div class="video-wrapper">
                    <video id="localVideo" autoplay muted playsinline></video>
                    <p>Local Video</p>
                </div>
                <div class="video-wrapper">
                    <video id="remoteVideo" autoplay playsinline></video>
                    <p>Remote Video</p>
                </div>
            </div>
            
            <div class="controls">
                <button id="muteButton">Mute</button>
                <button id="videoOffButton">Video Off</button>
            </div>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</body>
</html>